body {
    background-image: url(https://static-01.daraz.pk/p/c989bb76bf1ff3e281e0c4eb83839b00.png) !important;   
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    position: relative !important;
  text-align: center !important;
  }

.title{
    position: absolute !important;
    top: 570% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background-color: antiquewhite;
    opacity: 0.6;
    width: 100%;
    font: 60px "Lucida Grande", Helvetica, Arial, sans-serif;
    letter-spacing: 10px;
    color:cornflowerblue;
}
  